body {
  margin: 0px 0px 0px 0px;
  padding: 0;
  font-family: sans-serif;
}

.landing-image {
     background: url('https://cdn-images-1.medium.com/max/1200/1*4scWaOHPNQGTXoppoQJuvQ.jpeg') no-repeat center fixed;
     height:100vh;
     margin: 0px 40px 0px 0px;
 }
